body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Header section + Top container */
header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    min-width: 445px;
}

.header-container h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.header-logo-container {
    display: flex;
    min-width: 500px;

}

.header-title {
    display: flex;
    flex-flow: column;
    height: 200px;
    min-width: 445px;
    justify-content: space-between;
}

.header-links a, .header-title p{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-title p {
    margin:0;
    margin-bottom: 5px;
}

.header-links {
    display: flex;
    gap: 25px;
    min-width: 400px;
}
.top-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    align-items: flex-start;
    gap: 50px;
}

.header-title h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 0;
    margin-top: 0;
}

.header-image {
    display: flex;
    flex-grow: 0;
}

.header-image img {
    height: 200px;
    width: 400px;
    object-fit: cover;
}

.header-title button {
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10px;
    border-color: #3882F6;
    padding: 5px 15px;
    height: 30px;
    width: 90px;
    border-style: solid;
}

/* Content section */
.content-container, .image-frame-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    margin: 50px 0 100px 0;
}

.content-container h2 {
    margin-top: 0;
    margin-bottom: 50px;
}

.image-frame-text {
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
}

.image-frame-text p {
    margin: 5px;
}

.image-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.image-frame-text img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    object-fit: cover;
    border-radius: 20px;
}

/* Quote-Container */
.quote-container {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: light;
    font-style: italic;
    margin: 0;
}

.quote-author {
    font-size: 20px;
    color: #1F2937;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-right: 45px;
}

.quote-container-2 {
    width: 600px;
}

/* Sign Up Container */

.sign-up-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-container-2 {
    display: flex;   
    height: 100px;
    width: 900px;
    background: #3882F6;
    align-items: center;
    justify-content: center;
    gap: 200px;
    border-radius: 10px;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
}

.sign-up-text p {
    margin: 0;
    color: #F9FAF8;
}

.main-text {
    font-weight: bold;
}

.sign-up-container button {
    height: 30px;
    width: 110px;
    border-radius: 10px;
    background: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    font-weight: bold;
    padding: 5px 15px;
    border-style: solid;
}

